header{
    .container{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 312px;
            height: 468px;
            display: block;
            top: -40px;
            right: -141px;
            background: url('../../assets/bg-pattern-1.svg') no-repeat center / cover;
            @include mq( $tablet-breakpoint ){
                width: 267px;
                height: 400px;
                right: -32px;
                top: -32px;
            }
            @include mq($mobile-breakpoint){
                display: none;
            }
        }
    }
}